<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- css stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <title>Login</title>

</head>
<body>

  <div id='map'>
  </div>

  <script>

  mapboxgl.accessToken = 'pk.eyJ1IjoibWFuaXNobmFpciIsImEiOiJjamdqMWdqcXQwY2xrMnhudzI2c245aDd2In0.AxR3vxzUtWjv312SBHmnYA';

  // try to center the map to current location
  var user_lat = null;
  var user_lng = null;
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      user_lat = position.coords.latitude;
      user_lng = position.coords.longitude;
    });
  }

  var coor = [103.7830464, 1.2883539];

  // center map at user's current position if possible
  if (user_lat !== null && user_lng !== null) {
    coor[0] = user_lng;
    coor[1] = user_lat;
  }

  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/manishnair/cjgj23lov00112snzt6u5dccj',
    center: coor, // starting position
    pitch: 100,
    zoom: 18 // starting zoom
  });

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  }));

  // The 'building' layer in the mapbox-streets vector source contains building-height
  // data from OpenStreetMap.
  map.on('load', function() {

    // START OF MAP ******************************************

    // Insert the layer beneath any symbol layer.
    var layers = map.getStyle().layers;

    var labelLayerId;
    for (var i = 0; i < layers.length; i++) {
      if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
        labelLayerId = layers[i].id;
        break;
      }
    }
    // Create 3D building effect
    map.addLayer({
      'id': '3d-buildings',
      'source': 'composite',
      'source-layer': 'building',
      'filter': ['==', 'extrude', 'true'],
      'type': 'fill-extrusion',
      'minzoom': 15,
      'paint': {
        'fill-extrusion-color': '#aaa',

        // use an 'interpolate' expression to add a smooth transition effect to the
        // buildings as the user zooms in
        'fill-extrusion-height': [
          "interpolate", ["linear"], ["zoom"],
          15, 0,
          15.05, ["get", "height"]
        ],
        'fill-extrusion-base': [
          "interpolate", ["linear"], ["zoom"],
          15, 0,
          15.05, ["get", "min_height"]
        ],
        'fill-extrusion-opacity': .6
      }
    }, labelLayerId);

    // Add geolocate control to the map.
    map.addControl(new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true,
      showUserLocation: true
    }));

    // Location Pointer Example (Highlighted)
    map.loadImage('https://i.imgur.com/gc2Jd0J.png?4', function(error, image) {
      if (error) throw error;

      map.addImage('cat1', image);
      map.addLayer({
        "id": "points1",
        "type": "symbol",
        "source": {
          "type": "geojson",
          "data": {
            "type": "FeatureCollection",
            "features": [{
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [103.7832264, 1.2886639]
              }
            }]
          }
        },
        "layout": {
          "icon-image": "cat1",
          "icon-size": 0.30
        }
      });

      // When a click event occurs on a feature in the places layer, open a popup at the
      // location of the feature, with description HTML from its properties.
      map.on('click', 'points1', function (e) {

        var icon = '{{{techIcon}}}';
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = `<strong>${icon}Breaking Down Those Tech Buzzwords</strong><p>Hosted by: Clement Lee<br>Location: Room 123<br></p>`;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        var popup = new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(description)
        .addTo(map)
      });

      // Change the cursor to a pointer when the mouse is over the places layer.
      map.on('mouseenter', 'points1', function () {
        map.getCanvas().style.cursor = 'pointer';
      });

      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'points1', function () {
        map.getCanvas().style.cursor = '';
      });
    });

    {{#each events}}

    // use the corresponding image url and icon
    var imageUrl = "";

    var counter = 0;
    if ('{{this.category}}' === "Career and Business") {
      imageUrl = 'https://i.imgur.com/R9ZPOqK.png?5';
      counter += 1;
    }
    if ('{{this.category}}' === "Tech") {
      imageUrl = 'https://i.imgur.com/gc2Jd0J.png?4';
      counter += 1;
    }
    if ('{{this.category}}' === "Sports and Wellness") {
      imageUrl = 'https://i.imgur.com/Q5M3x2n.png?1';
      counter += 1;
    }
    if ('{{this.category}}' === "Learning") {
      imageUrl = 'https://i.imgur.com/8B6JqAt.png?1';
      counter += 1;
    }
    if ('{{this.category}}' === "Arts and Culture") {
      imageUrl = 'https://i.imgur.com/wkVFuqr.png?1';
      counter += 1;
    }
    if ('{{this.category}}' === "Others") {
      imageUrl = 'https://i.imgur.com/RUVP0hB.png?1';
      counter += 1;
    }

    if (counter === 1) {
      map.loadImage(imageUrl, function(error, image) {
        if (error) throw error;

        map.addImage('image-{{this.name}}', image);
        map.addLayer({
          "id": 'point-{{this.id}}',
          "type": "symbol",
          "source": {
            "type": "geojson",
            "data": {
              "type": "FeatureCollection",
              "features": [{
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [{{this.lng}}, {{this.lat}}]
                }
              }]
            }
          },
          "layout": {
            "icon-image": 'image-{{this.name}}',
            "icon-size": 0.30
          }
        });

        map.on('click', 'point-{{this.id}}', function (e) {
          var coordinates = e.features[0].geometry.coordinates.slice();

          var icon = "";

          if ('{{this.category}}' === "Career and Business") {
            icon = '{{{careerIcon}}}';
          }
          if ('{{this.category}}' === "Tech") {
            icon = '{{{techIcon}}}';
          }
          if ('{{this.category}}' === "Sports and Wellness") {
            icon = '{{{sportsIcon}}}';
          }
          if ('{{this.category}}' === "Learning") {
            icon = '{{{learningIcon}}}';
          }
          if ('{{this.category}}' === "Arts and Culture") {
            icon = '{{{artsIcon}}}';
          }
          if ('{{this.category}}' === "Others") {
            icon = '{{{othersIcon}}}';
          }

          var description = `<strong>${icon}{{this.name}}</strong><p>Hosted by: {{this.organizer_name}}<br>Location: {{this.venue}}<br>Description: {{this.description}}</p>`;

          // Ensure that if the map is zoomed out such that multiple
          // copies of the feature are visible, the popup appears
          // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }

          var popup = new mapboxgl.Popup()
          .setLngLat(coordinates)
          .setHTML(description)
          .addTo(map);

        });

        // Change the cursor to a pointer when the mouse is over the places layer.
        map.on('mouseenter', 'point-{{this.id}}', function () {
          map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'point-{{this.id}}', function () {
          map.getCanvas().style.cursor = '';
        });
      });
    }
    {{/each}}

    // END OF MAP ******************************************
  });
  </script>

  <form id="logout-button" method="POST" action="/users/logout" class="right floated item">
    <button onclick="window.location.href='/signin'" class="primary small ui icon button" id="sign-out-button">
      <i class="icon sign out"></i>Sign Out
    </button>
  </form>

  <div class="container">

    <div id="welcome-message" class="ui success message" style="display:none;">
      <i class="close icon"></i>
      <div class="header">
        Welcome {{#if returning_user}} back {{/if}} to CookieTalk, {{username}}!
      </div>
      <p>Start exploring what's around you!</p>
    </div>

    <div id="create-success-message" class="ui success message" style="display:none;">
      <i class="close icon"></i>
      <div class="header">
        Your event was successfully created.
      </div>
      <p>Keep exploring what's going on around you!</p>
      <div id="fly-to-event" class="ui mini compact button">Fly to Event</div>
    </div>

    <div id="navbar">
      <button class="green large circular ui icon button" id="create-event-button">
        <i class="icon add"></i>
      </button>
      <button class="yellow large circular ui icon button" id="all-events-button">
        <i class="icon list"></i>
      </button>
      <button class="orange large circular ui icon button" id="my-events-button">
        <i class="icon user"></i>
      </button>
    </div>

    <!-- CREATE EVENT MODAL -->
    <div class="ui longer modal create-event">
      <i class="close icon"></i>
      <div style="font-size: 30px" class="header">
        Create An Event
      </div>

      <div class="scrolling content">
        <form id="create-event-form" method="POST" action="/events">
          <div class="ui form">
            <div class="field">
              <label>Event Title</label>
              <input name="name" type="text" placeholder="E.g. Yoga on the lawn">
            </div>
            <div class="field datetime">
              <label>Date</label>
              <input name="date" id="date-input" type="date">

            </div>
            <div class="field time">
              <label>Start Time</label>
              <input name="starttime" type="time">
            </div>
            <div class="field time">
              <label>End Time</label>
              <input name="endtime" type="time">
            </div>

            <div id="locationField">
              <div class="field">
                <label>Venue Location</label>
                <input name="venue" id="autocomplete" placeholder="Enter an address"
                onFocus="geolocate()" type="text"></input>
                <input id="lat-input" name="lat" type="text" style="display:none;"></input>
                <input id="lng-input" name="lng" type="text" style="display:none;"></input>
              </div>
            </div>
            <br>

            <div class="field">
              <label>Event Category</label>
              <div class="ui fluid selection dropdown">
                <input name="category" type="hidden" placeholder="Event Category">
                <i class="dropdown icon"></i>
                <div class="default text">Select a Category</div>

                <div class="menu">
                  <div class="item" data-value="Career and Business">
                    <div class="category-dropdown" style="margin-right:12px"><img class="category-dropdown-img" src="img/career-icon.svg"></div>
                    <div class="category-dropdown">Career & Business</div>
                  </div>
                  <div class="item" data-value="Tech">
                    <div class="category-dropdown" style="margin-right:12px"><img class="category-dropdown-img" src="img/tech-icon.svg"></div>
                    <div class="category-dropdown">Tech</div>
                  </div>
                  <div class="item" data-value="Sports and Wellness">
                    <div class="category-dropdown" style="margin-right:12px"><img class="category-dropdown-img" src="img/sports-wellness-icon.svg"></div>
                    <div class="category-dropdown">Sports & Wellness</div>
                  </div>
                  <div class="item" data-value="Learning">
                    <div class="category-dropdown" style="margin-right:12px"><img class="category-dropdown-img" src="img/learning-icon.svg"></div>
                    <div class="category-dropdown">Learning</div>
                  </div>
                  <div class="item" data-value="Arts and Culture">
                    <div class="category-dropdown" style="margin-right:12px"><img class="category-dropdown-img" src="img/arts-icon.svg"></div>
                    <div class="category-dropdown">Arts & Culture</div>
                  </div>
                  <div class="item" data-value="Others">
                    <div class="category-dropdown" style="margin-right:12px"><img class="category-dropdown-img" src="img/others-icon.svg"></div>
                    <div class="category-dropdown">Others</div>
                  </div>
                </div>

              </div>
              <br>
              <div class="field textarea">
                <label>Event Description</label>
                <textarea name="description" type="text" placeholder="Tell us about your event."></textarea>
              </div>

            </div>

            <script>
            $('.ui.dropdown')
            .dropdown();

            </script>

          </div>

        </form>

      </div>

      <div class="actions">
        <button class="ui right aligned olive button" onclick="submitForm()">Submit</button>
      </div>
    </div>

    <!-- ALL EVENTS MODAL-->
    <div class="ui longer modal all-events">
      <i class="close icon"></i>
      <div style="font-size: 30px" class="header">
        All Events
      </div>
      <div class="scrolling content">

        <!-- CAREER & BUSINESS -->
        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/career-icon.svg">Career & Business</h2>
        {{#if career}}
        {{#each career}}
        <a class="ui blue centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="ui tiny yellow statistic">
              <div class="value">
                {{this.num_interests}}
              </div>
              <div class="label">
                Interested
              </div>
            </div>
            <div style="display:inline-block; vertical-align:middle;" class="ui massive star rating" data-max-rating="1"></div>

            <script>
            $('#interest-button').click(function() {
              $('#interest-button').html('<i class="icon star"></i>14');
            });

            </script>
            <div class="right floated author">
              <div>Hosted by: {{this.organizer_name}}</div>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>There are no career events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/tech-icon.svg">Tech</h2>
        {{#if tech}}
        {{#each tech}}
        <a class="ui violet centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="ui tiny yellow statistic">
              <div class="value">
                {{this.num_interests}}
              </div>
              <div class="label">
                Interested
              </div>
            </div>
            <div style="display:inline-block; vertical-align:middle;" class="ui massive star rating" data-max-rating="1"></div>
            <div class="right floated author">
              Hosted by: {{this.organizer_name}}
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>There are no tech events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/sports-wellness-icon.svg">Sports & Wellness</h2>
        {{#if sports}}
        {{#each sports}}
        <a class="ui pink centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="ui tiny yellow statistic">
              <div class="value">
                {{this.num_interests}}
              </div>
              <div class="label">
                Interested
              </div>
            </div>
            <div style="display:inline-block; vertical-align:middle;" class="ui massive star rating" data-max-rating="1"></div>

            <div class="right floated author">
              Hosted by: {{this.organizer_name}}
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>There are no sports & wellness events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/learning-icon.svg">Learning</h2>
        {{#if learning}}
        {{#each learning}}
        <a class="ui olive centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="ui tiny yellow statistic">
              <div class="value">
                {{this.num_interests}}
              </div>
              <div class="label">
                Interested
              </div>
            </div>
            <div style="display:inline-block; vertical-align:middle;" class="ui massive star rating" data-max-rating="1"></div>
            <div class="right floated author">
              Hosted by: {{this.organizer_name}}
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>There are no learning events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/arts-icon.svg">Arts & Culture</h2>
        {{#if arts}}
        {{#each arts}}
        <a class="ui red centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="ui tiny yellow statistic">
              <div class="value">
                {{this.num_interests}}
              </div>
              <div class="label">
                Interested
              </div>
            </div>
            <div style="display:inline-block; vertical-align:middle;" class="ui massive star rating" data-max-rating="1"></div>
            <div class="right floated author">
              Hosted by: {{this.organizer_name}}
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>There are no arts & culture events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/others-icon.svg">Others</h2>
        {{#if others}}
        {{#each others}}
        <a class="ui orange centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="ui tiny yellow statistic">
              <div class="value">
                {{this.num_interests}}
              </div>
              <div class="label">
                Interested
              </div>
            </div>
            <div style="display:inline-block; vertical-align:middle;" class="ui massive star rating" data-max-rating="1"></div>
            <div class="right floated author">
              Hosted by: {{this.organizer_name}}
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>There are no other events</p>
        {{/if}}

      </div>

    </div>

    <!-- MY EVENTS -->
    <div class="ui longer modal my-events">
      <i class="close icon"></i>
      <div style="font-size: 30px" class="header">
        My Events
      </div>
      <div class="scrolling content">

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/career-icon.svg">Career & Business</h2>
        {{#if my_career}}
        {{#each my_career}}
        <a class="ui blue centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <button class="ui green button"><i class="pencil icon"></i>Edit</button>
              <button class="ui red button"><i class="trash icon"></i>Delete</button>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>You have not organized any career & business events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/tech-icon.svg">Tech</h2>
        {{#if my_tech}}
        {{#each my_tech}}
        <a class="ui violet centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <button class="ui green button"><i class="pencil icon"></i>Edit</button>
              <button class="ui red button"><i class="trash icon"></i>Delete</button>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>You have not organized any tech events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/sports-wellness-icon.svg">Sports & Wellness</h2>
        {{#if my_sports}}
        {{#each my_sports}}
        <a class="ui pink centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <button class="ui green button"><i class="pencil icon"></i>Edit</button>
              <button class="ui red button"><i class="trash icon"></i>Delete</button>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>You have not organized any sports & wellness events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/learning-icon.svg">Learning</h2>
        {{#if my_learning}}
        {{#each my_learning}}
        <a class="ui olive centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <button class="ui green button"><i class="pencil icon"></i>Edit</button>
              <button class="ui red button"><i class="trash icon"></i>Delete</button>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>You have not organized any learning events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/arts-icon.svg">Arts & Culture</h2>
        {{#if my_arts}}
        {{#each my_arts}}
        <a class="ui red centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <button class="ui green button"><i class="pencil icon"></i>Edit</button>
              <button class="ui red button"><i class="trash icon"></i>Delete</button>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>You have not organized any arts & culture events</p>
        {{/if}}

        <h2><img style="width:35px;margin-right:7px;margin-bottom:5px;" src="img/others-icon.svg">Others</h2>
        {{#if my_others}}
        {{#each my_others}}
        <a class="ui red centered card" href="#">
          <div class="content">
            <div class="header">{{this.name}}</div>
            <div class="description">
              <span><b>When: </b>{{this.date_}}, {{this.starttime}} to {{this.endtime}}</span><br>
              <span><b>Where: </b>{{this.venue}}</span><br>
              <span><b>Details: </b>{{this.description}}</span>
            </div>
          </div>
          <div class="extra content">
            <div class="right floated author">
              <button class="ui green button"><i class="pencil icon"></i>Edit</button>
              <button class="ui red button"><i class="trash icon"></i>Delete</button>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>You have not organized any other events</p>
        {{/if}}


      </div>
      <!-- <div class="actions">
      <button id="my-events-close-button" class="ui button">Close</button>
    </div> -->
  </div>


  <script>

  $('.ui.rating')
  .rating()
  ;

  {{#if create_success}}
  $('#welcome-message').css('display', 'none');
  $('#create-success-message').show();
  document.getElementById('fly-to-event').addEventListener('click', function () {
      // Fly to a random location by offsetting the point -74.50, 40
      // by up to 5 degrees.
      map.flyTo({
          center: [
              {{created_event_lng}},
              {{created_event_lat}}]
      });
  });
  {{/if}}

  {{#if returning_user}}
  $('#welcome-message').show();
  {{/if}}

  {{#if new_user}}
  $('#welcome-message').show();
  {{/if}}

  $('.message .close')
  .on('click', function() {
    $(this)
    .closest('.message')
    .transition('fade')
    ;
  });

  // DISPLAY CREATE EVENT MODAL
  $(function(){
    $("#create-event-button").click(function(){
      $(".create-event").modal('show');
    });
    $("#create-event-close-button").click(function(){
      $(".create-event").modal('hide');
      location.reload();
    });
    $(".create-event").modal({
      closable: true
    });
  });

  // DISPLAY ALL EVENTS MODAL
  $(function(){
    $("#all-events-button").click(function(){
      $(".all-events").modal('show');
    });
    $("#all-events-close-button").click(function(){
      $(".all-events").modal('hide');
      location.reload();
    });
    $(".all-events").modal({
      closable: true
    });
  });

  // DISPLAY MY EVENTS MODAL
  $(function(){
    $("#my-events-button").click(function(){
      // $('#create-event-piece').embed();
      $(".my-events").modal('show');
    });
    $("#my-events-close-button").click(function(){
      $(".my-events").modal('hide');
      location.reload();
    });
    $(".my-events").modal({
      closable: true
    });
  });


  var placeSearch, autocomplete;

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());

        });
      }
    }

    function submitForm() {
      // get place input
      var place = document.getElementById('autocomplete').value;
      place = place.replace(/\s/g, "+");

      // geocoding API request - limit country to singapore
      $.get( `https://maps.googleapis.com/maps/api/geocode/json?address=${place}&components=country:singapore&key=AIzaSyCYzIzHZUMxbmbGWmWNvF6C0Ojzi3XTN1E`, function( data ) {
        // use address given by google maps API if possible
        if (data['results'][0]['formatted_address'] !== undefined) {
          $('#autocomplete').val(data['results'][0]['formatted_address']);
        }
        $('#lat-input').val(data['results'][0]['geometry']['location']['lat']);
        $('#lng-input').val(data['results'][0]['geometry']['location']['lng']);

        // submit form
        $('form#create-event-form').submit();
      });
    }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYzIzHZUMxbmbGWmWNvF6C0Ojzi3XTN1E&libraries=places&callback=initAutocomplete"
    async defer></script>

  </div>

</body>
</html>
